* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
}

a {
  text-decoration: none;
  color: #1B202A;
}

.logo {
  width: 120px;
}

.encabezado, .pie_de_pagina{
  background-color: #AE1603;
}
.cuerpo {
  background-color: #5EB3FF;
}
.contenedor {
  max-width: 1800px;
  margin: 0 auto;
  max-height: 300px;
}
.contenedor_encabezado {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.botones_encabezado {
  display: flex;
  gap: 2em;
}

.letra_blanca {
  color: #EAE4E4;
  font-size: 24px;
}
.lista_encabezado {
  list-style: none;
}
.boton_iniciar_sesion, .boton_registrarse, .boton_inscribirme{
  padding: 12px 24px;
  color: #1B202A;
  border-radius: 8px;
  border: 1px solid #1B202A;
  text-align: center;
  width: 152px;
}

.boton_iniciar_sesion {
  background-color: #F09E1C;
}

.boton_registrarse {
  background-color: #A6DB57;
}

.boton_inscribirme {
  background-color: #AE1603;
  color: #EAE4E4;
}

.seccion {
  margin: 80px auto;
}

.subtitulo {
  text-align: center;
  font-size: 32px;
}

.tarjetas_inicio{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 70px auto;
}

.tarjeta{
  text-align: center;
  padding: 12px;
  border-radius: 8px;
  background-color: #F09E1C;
}

.imagen_tarjeta {
    width: 320px;
    height: 200px;
}

.palabras_resaltadas {
  color: #F09E1C;
}


.noticias {
  text-align: center;
  line-height: 60px;
  margin: 70px auto;
}

.imagen_burbuja {
  border-radius: 160px;
  width: 720px;
  height: 280px;
  border: 4px solid #1B202A;
}

.menu_burbujas {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 720px;
}

.flecha {
  border-radius: 56px;
  border: none;
}

.bi-arrow-left, .bi-arrow-right{
  display: inline-flex;
  color: #1B202A;
  font-size: 24px;
  background-color: #F09E1C;
  width: 120px;
  height: 60px;
  border-radius: 56px;
  align-items: center;
  justify-content: center;
  border: 2px solid #1B202A;
}

.flecha, .elemento_burbuja {
  margin: auto 24px;
}

.elemento_burbuja {
  color: #1B202A;
  font-size: 24px;
}
.bi-circle::before{
  background-color: #F09E1C;
  border-radius: 12px;
}


