* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
  color: #1B202A;
}

a {
  text-decoration: none;
  color: #1B202A;
}

.logo {
  width: 120px;
}

.encabezado{
  width: 100%;
  left: 0;
  top: 0;
  position: fixed;
  z-index: 2;
}

.encabezado, .pie_de_pagina{
  background-color: #AE1603;
}
.cuerpo {
  background-color: #5EB3FF;
}
.contenedor {
  max-width: 1800px;
  margin: 0 20px;
  max-height: 700px;
}
.contenedor_encabezado {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.botones_encabezado {
  display: flex;
  gap: 2em;
}

.letra_encabezado {
  color: #EAE4E4;
  font-size: 24px;
  min-width: 1100px;
}
.lista_encabezado {
  list-style: none;
}
.boton_iniciar_sesion, .boton_registrarse, .boton_inscribirme{
  padding: 12px 24px;
  color: #1B202A;
  border-radius: 8px;
  border: 1px solid #1B202A;
  text-align: center;
  min-width: 152px;
  max-height: 44px;
}

.boton_iniciar_sesion:hover, .boton_registrarse:hover, .boton_inscribirme:hover, .tarjeta:hover,.flecha:hover, .icono_contacto:hover{
  transform: scale(1.2);
  cursor: pointer;
  z-index: 1;
}

.boton_iniciar_sesion {
  background-color: #F09E1C;
}

.boton_iniciar_sesion:hover, .tarjeta:hover,.flecha:hover {
  background-color: #FF9C00;
}

.boton_iniciar_sesion:active, .tarjeta:active,.flecha:active {
  background-color: #FF7A00;
}

.boton_registrarse {
  background-color: #A6DB57;
}

.boton_registrarse:hover {
  background-color: #9DEC28;
}

.boton_registrarse:active {
  background-color: #52FF00;
}

.contenedor_inscribirme {
  display: flex;
  justify-content: center;
}
.boton_inscribirme {
  background-color: #AE1603;
  color: #EAE4E4;
  line-height: 18px;
}

.boton_inscribirme:hover{
  background-color: #E71E05;
}

.boton_inscribirme:active{
  background-color: #FF462F;
  color: #1B202A;
}

.seccion {
  margin: 140px auto;
}

.subtitulo {
  text-align: center;
  font-size: 40px;
}

.titulo_noticia, .titulo_competencia {
  font-size: 32px;
}

.texto_normal {
  font-size: 20px;
  max-width: 720px;
  margin: auto;
}

.frase_cierre {
  font-size: 36px;
  text-align: center;
}

.tarjetas_inicio{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 70px 40px;
}

.tarjeta{
  text-align: center;
  padding: 12px;
  border-radius: 8px;
  background-color: #F09E1C;
}

.tarjeta:hover{
  font-weight:bolder;
}

.imagen_tarjeta {
    width: 320px;
    height: 200px;
}

.palabras_resaltadas {
  color: #F09E1C;
}


.noticias, .eventos{
  text-align: center;
  line-height: 60px;
  margin: 70px auto;
}

.imagen_burbuja {
  border-radius: 160px;
  width: 720px;
  height: 280px;
  border: 4px solid #1B202A;
}

.menu_burbujas {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 720px;
}

.flecha {
  border-radius: 56px;
  border: none;
  background-color: #F09E1C;
}

.bi-arrow-left, .bi-arrow-right{
  display: inline-flex;
  color: #1B202A;
  font-size: 24px;
  width: 120px;
  height: 60px;
  border-radius: 56px;
  align-items: center;
  justify-content: center;
  border: 2px solid #1B202A;
}

.flecha, .elemento_burbuja {
  margin: auto 24px;
}

.elemento_burbuja {
  color: #1B202A;
  font-size: 24px;
}
.bi-circle::before{ /*le da color a las burbujitas*/
  background-color: #F09E1C;
  border-radius: 12px;
}

.letra_footer{
  color: #EAE4E4;
  font-size: 20px;
}

.icono_contacto {
  border-radius: 75%;
  font-size: 24px;
  padding: 12px 24px;
  background-color: #EAE4E4;
}

.icono_contacto:hover{
  background-color: #D9D5D5;
}

.icono_contacto:active{
  background-color: #C6C6C6;
}
